body{
    background-color: #111111;
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.capa{
    width: 100%;
    height: 100%;
}

#capa1{
    position: relative;
    background: url(../img/p.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.titulo{
    position: absolute;
    width: 100%;
    top: 3%;
    background-color: #00000080;
    padding: 4%;
    padding-left: 13vw;


    font-family: 'Fraunces';
    font-weight: 10;
    font-size: min(115px, 14vw);
    line-height: 100%;
    color: #FFFFFF;
}

.b{
    background: #D40C3D;
    font-family: 'Montserrat';
    color: #FFFFFF;
}

.c{
    position: relative;
    top: -300px;
    background: #D40C3D;
    max-width: 90%;
}

.titulo1{
    font-family: 'Fraunces';
    font-weight: 400;
    padding-bottom: 4%;
    text-shadow: 1px 3px 0px #D40C3D;
}

.texto{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: min(19px, 3vw);
}

.c2{
    position: relative;
    top: -200px;
    background: #000000;
    padding: 4%;
}

#p2{
    max-width: 90%;
    filter: drop-shadow(20px 20px 0px #D40C3D);
    border-radius: 20px;
}
.carrossel{
    position: relative;
    top: -100px;
}

.q2{
    position: relative;
    padding: 6%;
    background: #000000d8;
    border-radius: 20px;
}

.titulo2{
    font-family: 'Fraunces';
    font-weight: 400;
    font-size: min(45px, 6vw);
    text-shadow: 0.5px 1.5px 0px #D40C3D;
}

.texto1{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: min(19px, 2vw);
}

.texto-r{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: min(19px, 3vw);
    max-width: 50%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.link{
    font-family: 'Montserrat';
    padding-left: 5%;
    padding-bottom: 10%;
}

a:link{
    color: #D40C3D;
    text-decoration: none;

}

a:visited{
    color: #D40C3D;
    text-decoration: none;

}

.traco{
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#icon{
    height: 32px;
    margin: 12px;
}