.wrapper{
    width: 100%;
    height: 3800px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #111111;
}

#logo{
    height: 32px;
    position: relative;
}

#p{
    width: 100%;
}

.q{
    position: absolute;
    width: 100%;
    height: 13%;
    left: 0;
    top: 2.5%;
    background: #00000080;
}

.titulo{
    position: absolute;
    left: 13%;
    top: 12%;
    font-family: 'Fraunces';
    font-weight: 10;
    font-size: 115px;
    line-height: 100%;
    color: #FFFFFF;
}

.rosa{
    color: #D40C3D;
}

.b{
    position: absolute;
    left: 13%;
    top: 70%;
    width: 18%;
    height: 9%;
    font-family: 'Montserrat';
    font-size: 20px;
    background: #D40C3D;
}

.texto-b{
    left: 13%;
    top: 87%;
    font-family: 'Montserrat';
    color: #FFFFFF;
    position: absolute;
}

#c{
    position: absolute;
    height: 15%;
    left: 32%;
    top: 67%;

}

.conteiner{
    position: absolute;
    width: 84%;
    left: 8%;
    top: 20%;
    background: #D40C3D;
}

.titulo2{
    font-family: 'Fraunces';
    font-weight: 400;
    font-size: 60px;
    height: 100px;
}

.texto{
    width: 95%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19px;
}

.q2{
    position: absolute;
    width: 100%;
    height: 17%;
    left: 0;
    top: 40%;
    background: #000000;
}

.titulo3{
    position: absolute;
    left: 45%;
    top: 4%;
    font-family: 'Fraunces';
    font-weight: 400;
    font-size: 60px;
    color: #FFFFFF;
}

.texto2{
    position: absolute;
    width: 48%;
    height: 80%;
    left: 45%;
    top: 22%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

#p2{
    position: absolute;
    left: 8%;
    top: 7%;
    height: 82%;
}

.q3{
    position: absolute;
    background: #D40C3D;
    height: 82%;
    width: 29%;
    left: 10%;
    top: 12%;
}

.q4{
    position: absolute;
    width: 100%;
    height: 16%;
    left: 0;
    bottom: 12%;
    background: #D40C3D;
}

.carrossel{
    position: absolute;
    width: 84%;
    left: 8%;
    top: 61%;
}

.meta{
    font-family: 'Fraunces';
    font-size: 40px;
}

.texto-metas{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
}

.rodape{
    position: absolute;
    width: 100%;
    height: 14%;
    left: 0;
    bottom: 0;
    background: #000000;
}

.titulo4{
    position: absolute;
    left: 15%;
    top: 10%;
    font-family: 'Fraunces';
    font-weight: 300;
    font-size: 45px;
    color: #FFFFFF;
}

.texto3{
    position: absolute;
    width: 23%;
    left: 15%;
    top: 30%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
}

.sm{
    position: absolute;
    left: 56%;
    top: 9.5%;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 220%;
}

.titulo5{
    font-family: 'Fraunces';
    font-weight: 300;
    font-size: 40px;
}

a:link{
    color: #D40C3D;
    text-decoration: none;
}

a:visited{
    color: #D40C3D;
    text-decoration: none;
}

.traco{
    position: absolute;
    width: 80%;
    height: 3px;
    left: 10%;
    bottom: 21%;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

#icon1{
    position: absolute;
    height: 8%;
    left: 12%;
    bottom: 6.7%;
}

#icon1:active{
    transform: scale(0.9);
}

#icon2{
    position: absolute;
    height: 7%;
    left: 18.1%;
    bottom: 7%;
}

#icon2:active{
    transform: scale(0.9);
}

#icon3{
    position: absolute;
    height: 7%;
    left: 22.5%;
    bottom: 7%;
}

#icon3:active{
    transform: scale(0.9);
}
